<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>조위관측소 실시간 경고</title>
</head>
<body>
  <h2>조위관측소 실시간 경고</h2>
    <ul id="warn-list">
        {% for msg in warning %}
            <li style="color:red">{{ msg }}</li>
        {% else %}
            <li style="color:green">이상 없음</li>
        {% endfor %}
    </ul>

    <script>
      const updateWarning = () => {
        fetch('/api/warning')
          .then(respose => respose.json())
          .then(data => {
            const ul = document.getElementById('warn-list');
            ul.innerHTML = '';
            if(data.warning.length === 0) {
              ul.innerHTML = '<li style="color:green">이상 없음</li>'
            } else {
              data.warning.forEach(function(msg) {
                const li = document.createElement('li');
                li.textContent = msg;
                li.style.color = 'red';
                ul.appendChild(li);
              });
            }
          });
      }
      setInterval(updateWarning, 5000);
    </script>
</body>
</html>